<!Doctype html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <div class="header">
            <h1>Hello ASP.NET Mvc!</h1>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </div>
        <div class= "aboutMe">
            <h2>About Me</h2>
            <img src="~/images/blank.jpg">
            <div class="info">
                <h4>First Name Last Name</h4>
                <h4>stuff</h4>
            </div>
        </div>

    </body>
</html>